@model StoreManager.ViewModels.Products.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="row offset-4">
        <dt class = "col-sm-1">
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ProductImg)" class="img-fluid" alt="Responsive image" width="150" height="200"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
